/**
 * Sit On chair style.css
 */

/**
 * 1.1 CSS Reset
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 2.1 Common styles
 */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #333333;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
}

p {
  margin-bottom: 15px;
}

sup {
  font-size: .5em;
  vertical-align: super;
}

.img--fluid {
  width: 100%;
}

.img--center {
  display: block;
  margin: 0 auto;
}

.section__title {
  color: #555;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.section__title::after {
  content: '';
  background: #24b79d;
  display: block;
  height: 6px;
  margin-top: 3px;
  position: absolute;
  width: 300px;
}

/**
 * 2.2 Gridesque
 */
.container {
  border: 1px solid red;
  margin: 30px auto;
  max-width: 1000px;
}

.container--compact {
  margin: 0 auto;
}

[class*="col--"] {
  float: left;
  padding: 0 15px;
  min-height: 1px;
}

.col--1 {
  width: 8.3333%;
}

.col--2 {
  width: 16.6666%;
}

.col--3 {
  width: 25%;
}

.col--4 {
  width: 33.3333%;
}

.col--5 {
  width: 41.6666%;
}

.col--6 {
  width: 50%;
}

.col--7 {
  width: 56.8333%;
}

.col--8 {
  width: 66.6666%
}

.col--9 {
  width: 75%;
}

.col--10 {
  width: 83.3333%
}

.col-11 {
  width: 91.6666%;
}

.col--12 {
  width: 100%;
}

.row::before,
.row::after,
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin: 0 -15px;
}

/**
 * 2.3 Text
 */
.text--center {
  text-align: center;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--semibold {
  font-weight: 500;
}

.text--brand-em,
.text--bold {
  font-weight: 600;
}

/**
 * 2.4 Colours
 */
.text--brand-em,
.text--info {
  color: #24b79d;
}

.text--invert {
  color: #f3f3f3;
}

.bg--info {
  background: #24b79d;
}

.bg--contrast {
  background: #f3f3f3;
}

/**
 * 2.5 Buttons
 */
.button {
  border: 0;
  border-radius: 5px;
  display: inline-block;
  font-weight: 500;
  padding: 10px;
  text-transform: uppercase;
}

.button--info {
  background: #24b79d;
  color: #f3f3f3;
  text-decoration: none;
}

/**
 * 3.1 Header
 */
.site-header {
  background: #000;
}

.site-name {
  margin: 10px 0;
}

/**
 * 3.2 Nav
 */
.site-menu > ul li {
  display: inline-block;
}

.site-menu__element:link {
  color: #f3f3f3;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
}

.site-menu__element:link:last-child {
  margin-right: -20px;
}

.site-menu__element:visited {
  color: #f3f3f3;
}

/**
 * 4.1 Hero
 */
.hero {
  background: -moz-linear-gradient(90deg, #e0dfe6 0%, #fbfbfb 40%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(40%, #e0dfe6)); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, #e0dfe6 0%, #fbfbfb 40%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, #e0dfe6 0%, #fbfbfb 40%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, #e0dfe6 0%, #fbfbfb 40%); /* ie10+ */
  background: linear-gradient(0deg, #e0dfe6 0%, #fbfbfb 40%); /* w3c */
}

.hero > .container {
  padding: 100px 0 50px 0;
}

/**
 * 4.2 Hero contents
 */

.hero__header {
  font-size: 3.5rem;
  margin: 15px 0 30px 0;
}

.hero__bollocks {
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 0 50px;
}

.hero__button {
  display: inline-block;
  font-size: 2rem;
  padding: 15px 30px;
  margin: 15px 0;
}

/**
 * 5.1 Showcase
 */
.showcase__card {
  border: 1px solid #ddd;
  overflow: hidden;
  position: relative;
  max-height: 212px;
}

.showcase__card img {
  display: block;
}

.showcase__card p {
  line-height: 1.4;
}

.showcase__card__title {
  background: rgba(255, 255, 255, .4);
  bottom: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  left: 0;
  padding: 10px 10px 20px 10px;
  position: absolute;
  right: 0;
}

.showcase__card__title::after {
  background: #24b79d;
  content: '';
  display: block;
  height: 6px;
  position: absolute;
  width: 130px;
}

.showcase__card--informative {
  padding: 20px;
}

.showcase__card--informative .showcase__card__title {
  position: static;
  padding: 0 0 20px 0;
}

/**
 * 6.1 Plans
 */
.plans__card,
.plans__card::before,
.plans__card::after {
  background: #f9f9f9;
  border: 1px solid #999999;
  position: relative;
}

.plans__card::before,
.plans__card::after {
  border: inherit;
  border-radius: 50%;
  content: '';
  display: block;
  height: 4rem;
  left: 50%;
  padding: 0;
  position: absolute;
  top: -.75rem;
  transform: translate(-50%, -50%);
  width: 4rem;
}

.plans__card::after {
  background: #999999;
  height: 1.8rem;
  width: 1.8rem;
}

.plans__card--featured,
.plans__card--featured:before {
  background: #27c5aa;
  border: 1px solid #27c5aa;
}

.plans__card--featured::after {
  background: #f9f9f9;
}

.plans__card__title {
  font-size: 2rem;
  margin: 3rem auto;
  margin-bottom: 2rem;
}

.plans__card--featured .plans__card__title {
  color: #ffffff;
}

.plans__card__price {
  background: white;
  border: 1px solid #f0f0f0;
  border-radius: 50%;
  height: 9rem;
  margin: 2rem auto;
  padding: 2.2rem 0;
  width: 9rem;
}

.plans__card--featured .plans__card__price {
  border: inherit;
}

.plans__card__price__amount {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: .5rem;
  position: relative;
}

.plans__card--featured .plans__card__price {
  color: #27c5aa;
}

.plans__card__price__amount sup {
  font-size: .4em;
  position: relative;
  top: -.5em;
}

.plans__card__benefits {
  font-size: 2rem;
  min-height: 13rem;
}

.plans__card__benefits li {
  padding: .5rem;
}

.plans__card__benefits li:nth-child(odd),
.plans__card--featured .plans__card__benefits li:nth-child(even) {
  background: red;
}

.plans__card__benefits li:nth-child(even),
.plans__card--featured .plans__card__benefits li:nth-child(odd) {
  background: yellow;
}

.plans__card__button:link,
.plans__card__button:visited {
  background: olive;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1rem auto;
  max-width: 50%;
  padding: .75rem;
  text-decoration: none;
}

/**
 * XX Contact
 */
.contact__form input[type="text"],
.contact__form input[type="email"],
.contact__form textarea,
.contact__form button {
  display: block;
  font-family: inherit;
  font-size: 2rem;
  height: 4rem;
  margin: 2rem auto;
  padding: 1rem;
  width: 100%;
}

.contact__form textarea {
  height: 18rem;
  resize: vertical;
}

.contact__form img {
  max-width: 75%;
}

.contact__form__agreement {
  font-size: 1.4rem;
  margin: 3.1rem auto;
  display: block;
}

.contact__form__agreement input[type="checkbox"] {
  height: 4rem;
  float: left;
  margin-top: -.5rem;
  margin-right: 1rem;
  width: 4.8rem;
}

.contact__form__agreement input[type="checkbox"]::before {
  border: 1px solid #27c5aa;
  background: #ffffff;
  content: '';
  display: inline-block;
  height: 40px;
  width: 48px;
}

.contact__form__agreement input[type="checkbox"]:checked::before {
  background: url("../images/form_ok.jpg");
}

/*.contact__form .button {
  margin: 2rem auto;
}*/

/**
 * XX Footer
 */
.site-footer {
  color: #999999;
  font-size: 1.4rem;
}

.site-footer--padded-col {
  /*padding-bottom: 1.2rem;*/
  padding-top: 1.2rem;
}

.site-footer__social img {
  display: inline-block;
}

.site-footer .site-name {
  font-size: 1.8rem;
  margin: 0;
}
