/**
 * Sit On chair style.css
 */

/**
 * 1.1 CSS Reset
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 2.1 Common styles
 */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
}

p {
  margin-bottom: 15px;
}

.img--fluid {
  width: 100%;
}

sup {
  font-size: .5em;
  vertical-align: super;
}

/**
 * 2.2 Gridesque
 */
.container {
  border: 1px solid red;
  margin: 30px auto;
  max-width: 1000px;
}

.container--compact {
  margin: 0 auto;
}

[class*="col--"] {
  float: left;
  padding: 0 15px;
  min-height: 1px;
}

.col--1 {
  width: 8.3333%;
}

.col--2 {
  width: 16.6666%;
}

.col--3 {
  width: 25%;
}

.col--4 {
  width: 33.3333%;
}

.col--5 {
  width: 41.6666%;
}

.col--6 {
  width: 50%;
}

.col--7 {
  width: 56.8333%;
}

.col--8 {
  width: 66.6666%
}

.col--9 {
  width: 75%;
}

.col--10 {
  width: 83.3333%
}

.col-11 {
  width: 91.6666%;
}

.col--12 {
  width: 100%;
}

.row::before,
.row::after,
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin: 0 -15px;
}

/**
 * 2.3 Text
 */
.text--center {
  text-align: center;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--semibold {
  font-weight: 500;
}

.text--brand-em,
.text--bold {
  font-weight: 600;
}

/**
 * 2.4 Colours
 */
.text--brand-em,
.text--info {
  color: #24b79d;
}

.text--invert {
  color: #f3f3f3;
}

.bg--info {
  background: #24b79d;
}

/**
 * 2.5 Buttons
 */
.button {
  border-radius: 5px;
  display: inline-block;
  font-weight: 500;
  padding: 10px;
  text-transform: uppercase;
}

.button--info {
  background: #24b79d;
  color: #f3f3f3;
  text-decoration: none;
}

/**
 * 3.1 Header
 */
.site-header {
  background: #000;
}

.site-name {
  margin: 10px 0;
}

/**
 * 3.2 Nav
 */
.site-menu > ul li {
  display: inline-block;
}

.site-menu__element:link {
  color: #f3f3f3;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
}

.site-menu__element:link:last-child {
  margin-right: -20px;
}

.site-menu__element:visited {
  color: #f3f3f3;
}

/**
 * 4.1 Hero
 */
.hero {
  background: -moz-linear-gradient(90deg, #e0dfe6 0%, #fbfbfb 40%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(40%, #e0dfe6)); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, #e0dfe6 0%, #fbfbfb 40%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, #e0dfe6 0%, #fbfbfb 40%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, #e0dfe6 0%, #fbfbfb 40%); /* ie10+ */
  background: linear-gradient(0deg, #e0dfe6 0%, #fbfbfb 40%); /* w3c */
}

.hero > .container {
  padding: 100px 0 50px 0;
}

/**
 * 4.2 Hero contents
 */

.hero__header {
  font-size: 3.5rem;
  margin: 15px 0 30px 0;
}

.hero__bollocks {
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 0 50px;
}

.hero__button {
  display: inline-block;
  font-size: 2rem;
  padding: 15px 30px;
  margin: 15px 0;
}

/**
 * 5.1 Showcase
 */
.showcase__card {
  border: 1px solid #ddd;
  position: relative;
}

.showcase__card img {
  display: block;
}

.showcase__card p {
  line-height: 1.4;
}

.showcase__card__title {
  background: rgba(255, 255, 255, .4);
  bottom: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  left: 0;
  padding: 10px 10px 20px 10px;
  position: absolute;
  right: 0;
}

.showcase__card__title::after {
  background: #24b79d;
  content: '';
  display: block;
  height: 6px;
  position: absolute;
  width: 130px;
}

.showcase__card--informative {
  padding: 20px;
}

.showcase__card--informative .showcase__card__title {
  position: static;
  padding: 0 0 20px 0;
}
