/**
 * XX Footer
 */

.site-footer {
    color: $lightgray-color;
    font-size: 1.4rem;
}

.site-footer--padded-col {
    padding-top: 1.2rem;
}

.site-footer__social img {
    display: inline-block;
}