/**
 * XX Footer
 */

.site-footer {
    color: #999999;
    font-size: 1.4rem;
}

.site-footer--padded-col {
    /*padding-bottom: 1.2rem;*/
    padding-top: 1.2rem;
}

.site-footer__social img {
    display: inline-block;
}