/**
 * 4.1 Hero
 */

.hero {
    background: -moz-linear-gradient(90deg, #e0dfe6 0%, #fbfbfb 40%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(40%, #e0dfe6));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, #e0dfe6 0%, #fbfbfb 40%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, #e0dfe6 0%, #fbfbfb 40%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, #e0dfe6 0%, #fbfbfb 40%);
    /* ie10+ */
    background: linear-gradient(0deg, #e0dfe6 0%, #fbfbfb 40%);
    /* w3c */
    color: #000000;
}

.hero__container {
    height: 75vh;
    min-height: 50rem;
}

.carousel__arrow {
    color: $primary-color;
    cursor: pointer;
    display: block;
    font-size: 8rem;
    padding: 0 $column-gutter;
}


/**
 * 4.2 Hero contents
 */

.hero__header {
    margin: 1.5rem 0 3rem 0;
}

.hero__bollocks {
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 0 3rem;
}

.hero__button:link {
    display: inline-block;
    font-size: 2rem;
    padding: 1.5rem 3rem;
    margin: 1.5rem 0;
}

.carousel__list {
    li {
        display: none;

        &.carousel__list__element--active {
            display: block;
            width: 100%;
        }
    }
}