/**
 * 3.2 Nav
 */
.site-menu {
    color: $white-color;
    font-weight: 500;
    text-transform: uppercase;
}

.site-menu__element {
    display: inline-block;
    position: relative;

    // &:last-child {
    //     margin-right: -2rem;
    // }

    a:link,
    a:visited {
        color: inherit;
        display: block;
        padding: 1.2rem 2rem;
        text-decoration: none;
    }

    a:hover {
        background: rgba(#ffffff, .2);
    }
}

.site-menu--dropdown {
    display: none;
    padding-top: 1.2rem;
    position: absolute;
    text-align: center;

    .site-menu__element {
        background: $black-color;
        display: block;
        position: relative;

        &:first-child::before {
            content: '';
            border-bottom: 1rem solid $black-color;
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            display: block;
            height: 0;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -100%);
            width: 0;
        }

        a {
            display: block;
        }
    }
}

.site-menu--dropdown-visible {
    display: block;
}
