.nav {
    background-color: $nav-background;
    font-size: $nav-font-size;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav__list {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    text-transform: uppercase;

    @include list-reset();
}

.nav__item {
    background-color: $nav-background;
    position: relative;
    @include compensate-paddings($nav-item-padding-horizontal);
}

.nav__item--separated {
    margin-right: auto;
}

.nav__link {
    @include link() {
        color: $nav-link-color;
        display: block;
        line-height: 1;
        padding: $nav-item-padding-vertical $nav-item-padding-horizontal;
        text-align: center;
        text-decoration: none;
        transition: color .1s;
    }

    &:hover {
        color: $nav-link-color-hover;
    }
}

.nav__link--brand {
    @include link() {
        color: $nav-link-color-hover;
    }
}

.nav__list--dropdown {
    display: none;
    padding-top: $nav-item-padding-vertical;
    position: absolute;

    .nav__item {
        &:first-child,
        &:last-child {
            margin: 0;
        }

        &:first-child::before {
            @include arrow($nav-background);
            left: 50%;
            transform: translate(-50%, -100%);
        }
    }
}

.nav__list--dropdown--visible {
    display: block;
}
