/**
 * 3.2 Nav
 */

.site-menu__element {
    color: $white-color;
    display: inline-block;
    position: relative;
}

.site-menu>ul>.site-menu__element:last-child {
    margin-right: -2rem;
}

.site-menu__element a:link,
.site-menu__element a:visited {
    color: inherit;
    display: block;
    padding: 1.2rem 2rem;
    text-decoration: none;
}

.site-menu__element a:hover {
    background: rgba(255, 255, 255, .2);
}

.site-menu .site-menu__dropdown {
    display: none;
    padding-top: 1.2rem;
    position: absolute;

    .site-menu__element {
        background: $black-color;
        display: block;
        position: relative;

        &:first-child::before {
            content: '';
            border-bottom: 1rem solid $black-color;
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            display: block;
            height: 0;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -100%);
            width: 0;
        }

        a {
            display: block;
        }
    }
}

.site-menu .site-menu__dropdown--visible {
    display: block;
}
