.plans-card {
    background: #f9f9f9;
    border: 2px solid #c2c2c2;
    color: #c2c2c2;
    font-size: 2.5rem;
    margin-top: 2em;
    position: relative;
    text-align: center;
    transition: transform .15s, box-shadow .15s;

    &:before,
    &:after {
        background: #f9f9f9;
        border: inherit;
        border-radius: 50%;
        content: '';
        display: block;
        height: 2em;
        left: 50%;
        position: absolute;
        top: -.5em;
        transform: translate(-50%, -50%);
        width: 2em;
    }
    &:after {
        background: #c2c2c2;
        border-width: 0;
        height: 1em;
        width: 1em;
    }

    &:hover {
        box-shadow: 0 0 .5em 0 rgba(#000000, .1), 0 1em .75em -.75em rgba(#000000, .1);
        transform: translateY(-.3em);
        z-index: 1;
    }
}

.plans-card__title {
    color: $color-primary;
    font-weight: 400;
    margin: 1em 0;
    text-transform: uppercase;
}

.plans-card__price {
    align-content: center;
    background: #fff;
    border: inherit;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2em;
    font-weight: 600;
    height: 3em;
    justify-content: center;
    line-height: 1;
    margin: .5em auto;
    text-align: center;
    width: 3em;

    sup {
        font-size: .4em;
        position: relative;
        vertical-align: super;
    }
}

.plans-card__currency {
    font-size: .4em;
    // margin-top: -3em;
}

.plans-card__benefit-list {
    list-style: none;
    min-height: 20rem;
    padding: 0;
}

.plans-card__benefit-item {
    color: #9c9c9c;
    padding: 1rem .5rem;
    @include zebra-bg(#f1f1f1, #e4e4e4);
}

.plans-card--featured {
    &,
    &:before {
        background: $color-primary;
        border: 2px solid $color-primary;
    }
    &:after {
        background: #fff;
    }
    .plans-card__title {
        color: #fff;
    }
    .plans-card__price {
        color: $color-primary;
    }
    .plans-card__benefit-item {
        @include zebra-bg(#e4e4e4, #f1f1f1);
    }
}

.plans-card__button {
    @include link() {
        font-size: .75em;
    }
}