/**
 * 6.1 Plans
 */

.plans__card {
    &,
    &:before,
    &:after {
        background: $white-color;
        border: 2px solid #c2c2c2;
        margin-top: 4rem;
        position: relative;
    }

    &:before,
    &:after {
        background: #ffffff;
        border: inherit;
        border-radius: 50%;
        content: '';
        display: block;
        height: 5.6rem;
        left: 50%;
        margin-top: 0;
        padding: 0;
        position: absolute;
        top: -1rem;
        transform: translate(-50%, -50%);
        width: 5.6rem;
    }

    &:after {
        background: #c2c2c2;
        border: 0;
        height: 2.8rem;
        width: 2.8rem;
    }

    .button {
        font-size: 1.8rem;
        padding: .3em 2em;
    }
}

.plans__card__title {
    color: #27c5aa;
    font-size: 2.5rem;
    margin: 3rem auto;
}

.plans__card__price {
    background: #ffffff;
    border: inherit;
    border-radius: 50%;
    color: #c2c2c2;
    font-weight: bold;
    height: 13rem;
    margin: 2rem auto;
    padding: 3rem 0;
    width: 13rem;
    p {
        margin-bottom: 1rem;
    }
}

.plans__card__price__amount {
    font-size: 5rem;
    margin-bottom: .5rem;
    position: relative;

    &+p {
        font-size: 1.6rem;
    }

    sup {
        font-size: .4em;
        position: relative;
        top: -.5em;
    }
}

.plans__card__benefits {
    font-size: 2.5rem;
    min-height: 20rem;

    li {
        color: #9c9c9c;
        padding: 1rem .5rem;

        &:nth-child(odd) {
            background: #e4e4e4;
        }

        &:nth-child(even) {
            background: #f1f1f1;
        }
    }
}

.plans__card--featured {
    &,
    &:before {
    background: $primary-color;
    border: 2px solid $primary-color;
    }

    &:after {
        background: $white-color;
    }

    .plans__card__title {
        color: #ffffff;
    }

    .plans__card__price {
        border: inherit;
    }

    .plans__card__price {
        color: $primary-color;
    }

    .plans__card__benefits {
        li {
            &:nth-child(even) {
                background: #e4e4e4;
            }

            &:nth-child(odd) {
                background: #f1f1f1;
            }
        }
    }

    .button--info {
        &,
        &:link,
        &:visited,
        &:active {
            background: #ffffff;
            color: $primary-color;
        }

        &:hover {
            background: $primary-color;
            color: #ffffff;
        }
    }
}
