.showcase-card {
    border: 1px solid #d9d9d9;
    font-size: 1.3rem;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.showcase-card--informative {
    line-height: 1.4;
    padding: 1em;
}

.showcase-card__title {
    background: rgba(#fff, .4);
    bottom: 1em;
    font-size: 1.1em;
    font-weight: 600;
    left: 0;
    line-height: 1;
    opacity: 1;
    padding: 1em;
    position: absolute;
    right: 0;
    transition: opacity .2s, bottom .1s ease-out;

    &:after {
        @include title-underline($color-primary);
    }
}

.showcase-card__title--hidden {
    bottom: 0;
    opacity: 0;
}

.showcase-card--informative {
    .showcase-card__title {
        opacity: 1;
        position: static;
        padding: 0;
        margin-top: 0;
        margin-bottom: 1em;
    }
}

.showcase-card__image {
    display: block;
    width: 100%;
}
