/**
 * 2.4 Colors
 */

.text--brand-em,
.text--info {
    color: $primary-color;
}

.text--invert {
    color: $white-color;
}

.bg--info {
    background: $primary-color;
}

.bg--contrast {
    background: $white-color;
}