.container {
    margin: 0 auto;
    max-width: 105rem;
}

.row {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-left: -$column-gutter;
    margin-right: -$column-gutter;
}

.col {
    flex: 1 1 (100% / $column-quantity);
    padding: 0 $column-gutter;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        flex: none;
        width: $i/12 * 100%;
    }
}