/**
 * 2.2 Grid
 */
@mixin column() {
    float: left;
    padding: 0 15px;
    min-height: 1px;
}

@mixin clearfix() {
    content: "";
    display: table;
    clear: both;
}

.container {
    margin: 3rem auto 5rem auto;
    max-width: 105rem;

    &.container--compact {
        margin: 0 auto;
    }
}

.row {
    margin: 0 -1.5rem;

    &:before,
    &:after {
        @include clearfix();
    }
}

.clearfix:before,
.clearfix:after {
    @include clearfix();
}

[class*="col--"] {
    @include column();
}

@for $i from 1 through 12 {
    .col--#{$i} {
        width: $i/12 * 100%;
    }
}