/**
 * 2.3 Text
 */

.text--center {
    text-align: center;
}

.text--left {
    text-align: left;
}

.text--right {
    text-align: right;
}

.text--uppercase {
    text-transform: uppercase;
}

.text--semibold {
    font-weight: 500;
}

.text--brand-em,
.text--bold {
    font-weight: 600;
}

.title-1 {
    font-size: 4rem;
}

.title-2 {
    font-size: 3rem;
}

.title-3 {
    font-size: 2.2rem;
}

.title-4 {
    font-size: 1.8rem;
}

.title-4 {
    font-size: 1.3rem;
}